@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./material-icons.woff2') format('woff2');
}

:root {
    --green: #28a745;
    --red: #dc3545;

    --input-border-radius: 3px;
    --input-padding: 0.25rem;
    --input-border: 1px solid #666;
    --input-shadow-dirty: 0 0 0 3px #da3 inset;
}

body {
    color: #222;
    user-select: none;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

[hidden] {
    display: none !important;
}

.text-success {
    color: var(--green);
}

.text-error {
    color: var(--red);
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form.form-dirty input[type=submit] {
    box-shadow: var(--input-shadow-dirty);
    font-style: italic;
}


.form fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.form fieldset h4 {
    margin: 0;
}

.field {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.field label {
    flex: 1;
}


label[for] {
    cursor: pointer;
}

.input {
    align-items: center;
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    display: flex;
    padding: var(--input-padding);
    vertical-align: middle;
}

.btn,
.select {
    align-items: center;
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: var(--input-padding);
    text-shadow: 1px 1px white;
    vertical-align: middle;
}

.btn-large {
    font-size: x-large;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.dark-mode {
    background-color: #252525;
    color: #d0d0d0;
}

.dark-mode .text-muted {
    color: #999 !important;
}

.dark-mode .surface {
    background-color: #323232;
}

.dark-mode .primary {
    background-color: #bb86fc;
    color: black;
}

.dark-mode .secondary {
    background-color: #03dac6;
    color: black;
}

.modal-backdrop {
    display: none;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.text-pre-wrap {
    white-space: pre-wrap;
}
